<div class="container">
    <!-- Navigation -->
    <nav>
        <div class="logo_con">
            <img width="80rem" height="auto" src="./../../../../assets/img/Vigor Logo Full.png" alt="Vigor logo" class="logo">
        </div>

        <div class="menu_con">
            <a class="home_menu_link" href="">Vigor Space</a>
            <a class="home_menu_link" href="">Vigor Smart-Stdio</a>
            <a class="home_menu_link" href="">V-Store</a>

            <div class="hamburger">
                <div class="line line1"></div>
                <div class="line line2"></div>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        Launching <span class="style">INFINITE</span> possibilities, <br>
        ONE brief at a time.
    </header>

    <div class="rocket">
    </div>

    <footer>
        <div class="left">
            <div class="arrow_con">
                <div class="arrow"><img src="./../../../../assets/img/Vector 13.png" alt="" srcset=""></div>
                <div class="arrow"><img src="./../../../../assets/img/Vector 13.png" alt="" srcset=""></div>
            </div>
            <div class="text">
                Scroll Down to start <br> the Journey
            </div>
        </div>

        <div class="right">
            <button>Contact Us</button>
        </div>
    </footer>
</div>
